@media screen and (max-width: 1000px) {
    body{
   
         background-color: orange;
         font-size: 8px;
         color:white;
         
    }

    .soph{
        background-color: orange;
        width: 600px;
        font-weight: bold;
        
    }
    
    #header{
        background-color: orange;
    
    }
}

