@media screen and (max-width: 400px) {
    body{
   
         background-color: orange;
         font-size: 800px;
         color:blue;
    }

    .soph{
        background-color: orange;
        width: 600px;
        font-weight: bold;
        
    }
    
    #header{
        background-color: orange;
    
    }
}

