*{
    margin: 2;
    padding:0;
}

    .background {
background-image: url(../https://marble.com/uploads/materials/1075/1280X720/marble_White-Carrara_fWF1kmDGuRZJavjUsERa.jpg);
background-size: cover;
}



.title h1{
    margin:0;
    padding: 0;
    white-space: normal;
    top: 50%;
    left: 50%;
    text-align: center;
    font-family: ARIAL;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    font-size: 50px;
}