
.title h1{
    margin:0;
    padding: 0;
    white-space: normal;
    top: 50%;
    left: 50%;
    text-align: center;
    font-family: ARIAL;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    font-size: 50px;

}


.fb-like{
    position: absolute;
    bottom: 3px;
}

.Izbicki{
    position: absolute;
    bottom: 10px;

}