
.title h1{
    display: inline;
    margin:0;
    padding: 0;
    top: 50%;
    left: 50%;
    text-align: center;
    font-family: ARIAL;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    font-size: 50px;
    white-space: nononwrap;
    overflow: hidden;

}


.fb-like{
    position: absolute;
    bottom: 2px;
}

.Izbicki{
    position: absolute;
    bottom: 20px;

}


.license{
    position: absolute;
    bottom: 6px;
    
}


#header{
    background-color: white;
}


#navigation .menu{
    font-weight: bold;
}

a{
    color: black;
}